{% extends 'base.html' %}

{% block content %}
    <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Language</th>
      <th scope="col">Date_start</th>
      <th scope="col">Date_end</th>

    </tr>
  </thead>
  <tbody>
  {% for course in course_list %}
    <tr>
      <th scope="row">{{ course.id }}</th>
      <td>{{ category.name }}</td>

      <td>
          <a href="{{ url_for('admin_course_update', course_id=course.id) }}">Изменить</a>
          <a href="{{ url_for('admin_course_delete', course_id=course.id) }}">Удалить</a>
      </td>
    </tr>
    {% endfor %}

  </tbody>
    </table>

{% endblock content %}
